* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.2em;
    background-color: #fff;
    color: #555;
}

h1, h2 {
    font: normal 170% 'century gothic', arial;
    color: #000;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}
h2 {
    font-size: 140%;
}
p {
    line-height: 1.7em;
    padding: 0 0 20px 0;
}
ul {
    margin: 2px 0 22px 17px;
}
ul, li {
    text-decoration: none;
    margin: 0 0 6px 0;
    padding: 0 0 4px 0;
    line-height: 1.5em;
}
a, a:hover {
    text-decoration: underline;
    outline: none;
    color: #aeb002;
}
input[type="text"], input[type="password"], 
input[type="search"] {
    color: #5d5d5d;
    width: 60%;
    padding: 8px;
}
input, textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
}
hr {
    border: solid 1px #f3f3f3;
}

.header {
    background-color: darkslateblue;
    height: auto;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}

.logo, .menu-bar, .main, .footer {
    margin: 0 auto;
}

.logo {
    width: 880px;
    padding-bottom: 40px;
}

.logo h1, .logo h2 {
    font: normal 300% 'century gothic', arial, sans-serif;
    margin: 0 0 0 8px;
}

.logo-text h1, .logo-text h1 a, .logo-text h1 a:hover {
    letter-spacing: 0.1em;
    color: #fff;
    text-decoration: none;
    padding: 22px 0 0 0;
}

.logo-text h2 {
    font-size: 0.8em;
    color: #999;
    padding: 4px 0 0 0;
}

.menu-bar {
    width: 900px;
    height: 46px;
}

ul.menu {
    float: right;
}

ul.menu li {
    list-style: none;
    float: left;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-left: 1px;
}
ul.menu li a {
    display: block;
    height: 20px;
    text-decoration: none;
    font: normal 100% 'trebuchet ms', sans-serif;
    color: #fff;
    padding: 6px 35px 5px 28px;
}
ul.menu li.selected a {
    color: #aeb002;
}
ul.menu li a:hover {
    color: #e4ec04;
}


.main {
    overflow: hidden;
    background-color: white;
    width: 880px;
    margin: 20px auto 0;
}
.sidebar-container {
    float: right;
    width: 224px;
}
.sidebar {
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;
    border-radius: 5%;
    background-color: #f9f9f9;
}

.btn {
    cursor: pointer;
    background-color: white;
    padding: 8px;
}

.sidebar h2 {
    color: #136cb2;
}

.lables-password-text {
    font-size: 0.7em;
    margin-top: 3%;
    margin-left: 2%;
}

.sidebar ul {
    margin: 0;
}
.sidebar ul li {
    list-style-type: none; 
    margin: 0;
}
.sidebar .rating-sidebar {
    float: right;
}

.content {
    text-align: left;
    float: left;
    width: 620px;
    padding: 0 0 0 5px;
}
.content a {
    text-decoration: none;
}

.films-block {
    margin-bottom: 5%;
}
.films-block img {
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 22%;
}

.posts .posts-content {
    font-size: 0.8em;
}



.footer {
    text-align: center;
    background-color: darkslateblue;
    color: #a8aa94;
    width: 100%;
    height: 100px;
    padding: 28px 0 5px 0;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}
.footer a {
    color: #a8aa94;
    text-decoration: none;
}
.footer a:hover {
    color: #fff;
    text-decoration: none;
}
.footer p {
    padding: 0 0 10px 0;
}