* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.2em;
    background-color: #fff;
    color: #555;
}

h1, h2 {
    font: normal 170% "Jost";
    color: #000;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}
h2 {
    font-size: 140%;
}
p {
    line-height: 1.7em;
    padding: 0 0 20px 0;
}
ul {
    margin: 2px 0 22px 17px;
}
ul, li {
    text-decoration: none;
    margin: 0 0 6px 0;
    padding: 0 0 4px 0;
    line-height: 1.5em;
}
a, a:hover {
    text-decoration: underline;
    outline: none;
    color: #aeb002;
}
input[type="text"], input[type="password"], 
input[type="search"] {
    color: #5d5d5d;
    width: 60%;
    padding: 8px;
}
input, textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
}
hr {
    border: solid 1px #f3f3f3;
}

.header {
    background-color: darkslateblue;
    height: auto;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}

.logo, .menu-bar, .main, .footer {
    margin: 0 auto;
}

.logo {
    width: 880px;
    padding-bottom: 40px;
}

.logo h1, .logo h2 {
    font: normal 300% "Nunito", sans-serif;
    margin: 0 0 0 8px;
}

.logo-text h1, .logo-text h1 a, .logo-text h1 a:hover {
    letter-spacing: 0.1em;
    color: #fff;
    text-decoration: none;
    padding: 22px 0 0 0;
}

.logo-text h2 {
    font-size: 0.8em;
    color: #999;
    padding: 4px 0 0 0;
}

.menu-bar {
    width: 900px;
    height: 46px;
}

ul.menu {
    float: right;
}

ul.menu li {
    list-style: none;
    float: left;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-left: 1px;
}
ul.menu li a {
    display: block;
    height: 20px;
    text-decoration: none;
    font: normal 100% "Trebuchet MS", sans-serif;
    color: #fff;
    padding: 6px 35px 5px 28px;
}
ul.menu li.selected a {
    color: #aeb002;
}
ul.menu li a:hover {
    color: #e4ec04;
}


.main {
    overflow: hidden;
    background-color: white;
    width: 880px;
    margin: 20px auto 0;
}
.sidebar-container {
    float: right;
    width: 224px;
}
.sidebar {
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;
    border-radius: 5%;
    background-color: #f9f9f9;
}

.btn {
    cursor: pointer;
    background-color: white;
    padding: 8px;
}

.sidebar h2 {
    color: #136cb2;
}

.lables-password-text {
    font-size: 0.7em;
    margin-top: 3%;
    margin-left: 2%;
}

.sidebar ul {
    margin: 0;
}
.sidebar ul li {
    list-style-type: none; 
    margin: 0;
}
.sidebar .rating-sidebar {
    float: right;
}

.content {
    text-align: left;
    float: left;
    width: 620px;
    padding: 0 0 0 5px;
}
.content a {
    text-decoration: none;
}

.films-block {
    margin-bottom: 5%;
}
.films-block img {
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 22%;
}

.posts .posts-content {
    font-size: 0.8em;
}



.info-film-page {
    margin-top: 2%;
    margin-bottom: 4%;
}

.info-film-page .label {
    font-size: 1.2em;
}

.info-film-page .value {
    font-size: 1em;
    color: #49945a;
    margin-right: 3%;
}

.description-film {
    margin-bottom: 15%;
}

.description-film img {
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    border: solid 5px #dad7d5;
}

.reviews {
    font-size: 0.9em;
    margin-bottom: 4%;
}

.reviews .reviews-name {
    background-color: #7268ad;
    color: white;
    padding: 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.reviews-text {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.send {
    margin-bottom: 4%;
}

.send input[type="text"], textarea {
    border: solid 1px #c3c3c3;
    margin-bottom: 2%;
}

.send input[type="text"] {
    width: 98%;
}

.send textarea {
    width: 624px;
    height: 200px;
}

.send input[type="submit"] {
    background-color: #7268ad;
    padding: 3%;
    color: white;
    border-radius: 5px;
}


.send .send-contact {
    margin-bottom: 4%;
}


.info-film {
    margin-bottom: 5%;
    background-color: #f9f9f9;
    padding: 5%;
    height: 270px;
}

.info-film img {
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 25%;
}

.button {
    background-color: #7268ad;
    padding: 2%;
    color: white;
    border-radius: 5px;
    float: right;
    margin-top: 5%;
    clear: both;
    font-size: 0.8em;
}

.button a {
    color: white;
}


table {
    width: 100%;
    border: solid 1px #f4f4f4;
}

td {
    padding: 2%;
    border: solid 1px #f4f4f4;
}

td img {
    width: 60px;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.rating {
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: darkslateblue;
    color: #a8aa94;
    width: 100%;
    height: 100px;
    padding: 28px 0 5px 0;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}
.footer a {
    color: #a8aa94;
    text-decoration: none;
}
.footer a:hover {
    color: #fff;
    text-decoration: none;
}
.footer p {
    padding: 0 0 10px 0;
}


/* CSS Mobile */
@media only screen 
and (min-device-width : 320px)
and (max-device-width : 767px) {
    .header {
        text-align: center;
        background-color: #257965;
        min-width: 100%;
        height: 20%;
    }
    .logo {
        width: 100%;
    }
    /*???*/
    .content {
        width: 100%;
    }
    /*???*/
    .menu-bar {
        width: 100%;
        height: 100%;
    }
    .main {
        text-align: center;
        width: 100%;
    }
    .content {
        text-align: center;
        width: 100%;
    }
    .sidebar-container {
        display: none;
    }
    .footer {
        display: none;
    }

    .logo h1 {
        font: normal 235% "Nunito", sans-serif;
    }
    .logo h2 {
        font: normal 100% "Nunito", sans-serif;
        color: white;
    }
    ul.menu {
        float: none;
    }
    ul.menu li {
        float: none;
        margin: 0;
        padding: 0;
    }
    .content h1, h2 {
        font: normal 100% "Nunito", sans-serif;
    }
    .films-block img {
        width: 43%;
    }

    .posts-content  {
        text-align: left;
        line-height: 1.5em;
        padding: 3%;
    }
    .posts p {
        font-size: 120%;
    }

    /* film page*/

    .info-film {
        float: none;
        height: 100%;
    }
    .info-film img {
        width: 90%;
        margin-bottom: 5%;
    }
    .button {
        float: none;
    }

    /*rating page*/

    table {
        display: block;
    }
    th {
        font-size: 75%;
    }
    td {
        text-align: left;
        font-size: 95%;
        padding: 0;
        margin: 0;
    }

    /*show page*/

    iframe {
        width: 88%;
        height: 100%;
    }
    .description-film {
        text-align: left;
        width: 90%;
        margin-left: 2%;
    }
    .description-film img {
        display: block;
        float: none;
        width: 73%;
        margin: 0;
        padding: 0;
        margin-left: 11%;
        margin-bottom: 7%;
    }
    .reviews {
        text-align: left;
        width: 96%;
    }
    .send input[type="text"] {
        width: 80%;
    }
    .send textarea {
        width: 85%;
    }
}